<div class="content">
	<!-- Animated -->
	<div class="animated fadeIn">
			<!-- Widgets  -->
			<div class="row">
					<div class="col-lg-3 col-md-6">
							<div class="card">
									<div class="card-body">
											<div class="stat-widget-five">
													<div class="stat-icon dib flat-color-1">
															<i class="pe-7s-cash"></i>
													</div>
													<div class="stat-content">
															<div class="text-left dib">
																	<div class="stat-text"><span class="count">23</span></div>
																	<div class="stat-heading">Compras</div>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>

					<div class="col-lg-3 col-md-6">
							<div class="card">
									<div class="card-body">
											<div class="stat-widget-five">
													<div class="stat-icon dib flat-color-2">
															<i class="pe-7s-cart"></i>
													</div>
													<div class="stat-content">
															<div class="text-left dib">
																	<div class="stat-text"><span class="count">35</span></div>
																	<div class="stat-heading">Productos</div>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>

					<div class="col-lg-3 col-md-6">
							<div class="card">
									<div class="card-body">
											<div class="stat-widget-five">
													<div class="stat-icon dib flat-color-3">
															<i class="pe-7s-browser"></i>
													</div>
													<div class="stat-content">
															<div class="text-left dib">
																	<div class="stat-text"><span class="count">5</span></div>
																	<div class="stat-heading">Solicitudes</div>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>

					<div class="col-lg-3 col-md-6">
							<div class="card">
									<div class="card-body">
											<div class="stat-widget-five">
													<div class="stat-icon dib flat-color-4">
															<i class="pe-7s-users"></i>
													</div>
													<div class="stat-content">
															<div class="text-left dib">
																	<div class="stat-text"><span class="count">6</span></div>
																	<div class="stat-heading">Clientes</div>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
			<!-- /Widgets -->
				
			<div class="orders" >
					<div class="row">
							<div class="col-lg-12">
									<div class="card">
											<div class="card-body">
													<h4 class="box-title">Orders </h4>
											</div>
											<div class="card-body--">
													<div class="table-stats order-table ov-h">
															<table class="table ">
																	<thead>
																			<tr>
																					<th class="serial">Usuario</th>
																					<th class="avatar">Producto</th>
																					<th>Descripción</th>
																					<th>Cantidad</th>
																					<th>Caducidad</th>
																					<th>Estado</th>
																					<th>Precio</th>
																					<th>Entrega</th>
																					<th>Coste de entrega</th>
																					
																			</tr>
																	</thead>
																	<tbody>
																			<tr>
																					<td class="serial">Carla Flores</td>
																					<td class="avatar">
																							<div class="round-img">
																									<a href="#"><img class="rounded-circle" src="images/avatar/jitomates.jpeg" alt=""></a>
																							</div>
																					</td>
																					<td> Un kilo de jitomates de la huerta, lo mas natural del rancho</td>
																					<td>  <span class="count"> 5 </span> </td>
																					<td> <span class="product">22/04/20</span> </td>
																					<td>
																							<span class="badge badge-complete">Excelente</span>
																					</td>
																					<td><span class="name">$30</span></td>
																					<td><span class="name">Av. los patos no 511</span></td>
																					<td><span class="name">$15</span></td>
																					
																			</tr>
																			<tr>
																					<td class="serial">Kevin Alvarez</td>
																					<td class="avatar">
																							<div class="round-img">
																									<a href="#"><img class="rounded-circle" src="images/avatar/leche.jpeg" alt=""></a>
																							</div>
																					</td>
																					<td> Litro de leche, listo para el uso domestico</td>
																					<td>  <span class="count"> 1 </span> </td>
																					<td> <span class="product">16/04/20</span> </td>
																					<td>
																							<span class="badge badge-complete">Excelente</span>
																					</td>
																					<td><span class="name">$22</span></td>
																					<td><span class="name">Benito Juarez No. 112</span></td>
																					<td><span class="name">$10</span></td>
																					
																			</tr>

																			
																	</tbody>
															</table>
													</div> <!-- /.table-stats -->
											</div>
									</div> <!-- /.card -->
							</div>  <!-- /.col-lg-8 -->    
					</div>
			</div>
	</div>
	<!-- .animated -->
</div>
<!-- /.content -->